// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
	font-family:Dotum;
	font-size:12px;
}

#section {
	font-family:Dotum;
	font-size:12px;
}

#footer {
	font-family:Dotum;
	font-size:12px;
}

